
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #333;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #fff;
}

input {
	color: #222;
}

table {
	background-color: #fff;
	color: #222;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	background-color: transparent;
	border-bottom: 1px solid #555;
	font-size: 35px;
	font-weight: 100;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 0;
	font-family: orbitron, sans-serif;
	color: rgba(255,255,255,1);
	text-decoration: normal;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

h2 {
	color: #fff;
	background-color: transparent;
	font-size: 15px;
	font-weight: 600;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

p.error {
	color: red;
}

#container {
	margin: 10px;
}

.search-box-container {
	border: 1px solid #D0D0D0;
	margin: 15px 0 15px 0;
	padding: 10px;
	border: 1px solid rgba(255, 0, 222, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 0, 222, 0.6)
}



.footer {
	height: 110px;
	text-align: center;
}

.footer.warranty {
	font-size: 0.7em;
	width: 80%;
	font-style: italic;
	line-height: initial;
	text-align: center;
	margin: 0 auto;
	color: #ccc;
}

.loader {
	display: none;
}

.loader img {
	width: 250px;
}

.monteCarloChart,
.monte-carlo-chart-table,
.historical-sprint-table {
	max-width: 350px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
	background-color: #222;
	color: #fff;
	border: 1px solid rgba(255, 0, 222, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 0, 222, 0.6)
}

li.pure-menu-item {
    background-color: #fff;
    transform: rotate(-3deg);
}